<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.maintenance.ServiceCallDetailMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.maintenance.ServiceCallDetail">
    <id column="call_id" jdbcType="INTEGER" property="callId" />
    <result column="maintenance_id" jdbcType="INTEGER" property="maintenanceId" />
    <result column="fault" jdbcType="INTEGER" property="fault" />
    <result column="is_weather" jdbcType="INTEGER" property="isWeather" />
    <result column="sungrow_staff" jdbcType="VARCHAR" property="sungrowStaff" />
    <result column="shipping_address" jdbcType="VARCHAR" property="shippingAddress" />
    <result column="to_shipping_address" jdbcType="VARCHAR" property="toShippingAddress" />
    <result column="inverter_connect" jdbcType="INTEGER" property="inverterConnect" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.crazy.portal.entity.maintenance.ServiceCallDetailWithBLOBs">
    <result column="fault_massage" jdbcType="LONGVARCHAR" property="faultMassage" />
    <result column="fault_description" jdbcType="LONGVARCHAR" property="faultDescription" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    call_id, maintenance_id, fault, is_weather, sungrow_staff, shipping_address, to_shipping_address, 
    inverter_connect, insert_time
  </sql>
  <sql id="Blob_Column_List">
    fault_massage, fault_description, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_service_call_detail
    where call_id = #{callId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_service_call_detail
    where call_id = #{callId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.maintenance.ServiceCallDetailWithBLOBs">
    insert into t_service_call_detail (call_id, maintenance_id, fault, 
      is_weather, sungrow_staff, shipping_address, 
      to_shipping_address, inverter_connect, insert_time, 
      fault_massage, fault_description, 
      remark)
    values (#{callId,jdbcType=INTEGER}, #{maintenanceId,jdbcType=INTEGER}, #{fault,jdbcType=INTEGER}, 
      #{isWeather,jdbcType=INTEGER}, #{sungrowStaff,jdbcType=VARCHAR}, #{shippingAddress,jdbcType=VARCHAR}, 
      #{toShippingAddress,jdbcType=VARCHAR}, #{inverterConnect,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{faultMassage,jdbcType=LONGVARCHAR}, #{faultDescription,jdbcType=LONGVARCHAR}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.maintenance.ServiceCallDetailWithBLOBs">
    insert into t_service_call_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="callId != null">
        call_id,
      </if>
      <if test="maintenanceId != null">
        maintenance_id,
      </if>
      <if test="fault != null">
        fault,
      </if>
      <if test="isWeather != null">
        is_weather,
      </if>
      <if test="sungrowStaff != null">
        sungrow_staff,
      </if>
      <if test="shippingAddress != null">
        shipping_address,
      </if>
      <if test="toShippingAddress != null">
        to_shipping_address,
      </if>
      <if test="inverterConnect != null">
        inverter_connect,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="faultMassage != null">
        fault_massage,
      </if>
      <if test="faultDescription != null">
        fault_description,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="callId != null">
        #{callId,jdbcType=INTEGER},
      </if>
      <if test="maintenanceId != null">
        #{maintenanceId,jdbcType=INTEGER},
      </if>
      <if test="fault != null">
        #{fault,jdbcType=INTEGER},
      </if>
      <if test="isWeather != null">
        #{isWeather,jdbcType=INTEGER},
      </if>
      <if test="sungrowStaff != null">
        #{sungrowStaff,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddress != null">
        #{shippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="toShippingAddress != null">
        #{toShippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="inverterConnect != null">
        #{inverterConnect,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="faultMassage != null">
        #{faultMassage,jdbcType=LONGVARCHAR},
      </if>
      <if test="faultDescription != null">
        #{faultDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.maintenance.ServiceCallDetailWithBLOBs">
    update t_service_call_detail
    <set>
      <if test="maintenanceId != null">
        maintenance_id = #{maintenanceId,jdbcType=INTEGER},
      </if>
      <if test="fault != null">
        fault = #{fault,jdbcType=INTEGER},
      </if>
      <if test="isWeather != null">
        is_weather = #{isWeather,jdbcType=INTEGER},
      </if>
      <if test="sungrowStaff != null">
        sungrow_staff = #{sungrowStaff,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddress != null">
        shipping_address = #{shippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="toShippingAddress != null">
        to_shipping_address = #{toShippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="inverterConnect != null">
        inverter_connect = #{inverterConnect,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="faultMassage != null">
        fault_massage = #{faultMassage,jdbcType=LONGVARCHAR},
      </if>
      <if test="faultDescription != null">
        fault_description = #{faultDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where call_id = #{callId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crazy.portal.entity.maintenance.ServiceCallDetailWithBLOBs">
    update t_service_call_detail
    set maintenance_id = #{maintenanceId,jdbcType=INTEGER},
      fault = #{fault,jdbcType=INTEGER},
      is_weather = #{isWeather,jdbcType=INTEGER},
      sungrow_staff = #{sungrowStaff,jdbcType=VARCHAR},
      shipping_address = #{shippingAddress,jdbcType=VARCHAR},
      to_shipping_address = #{toShippingAddress,jdbcType=VARCHAR},
      inverter_connect = #{inverterConnect,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      fault_massage = #{faultMassage,jdbcType=LONGVARCHAR},
      fault_description = #{faultDescription,jdbcType=LONGVARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where call_id = #{callId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.maintenance.ServiceCallDetail">
    update t_service_call_detail
    set maintenance_id = #{maintenanceId,jdbcType=INTEGER},
      fault = #{fault,jdbcType=INTEGER},
      is_weather = #{isWeather,jdbcType=INTEGER},
      sungrow_staff = #{sungrowStaff,jdbcType=VARCHAR},
      shipping_address = #{shippingAddress,jdbcType=VARCHAR},
      to_shipping_address = #{toShippingAddress,jdbcType=VARCHAR},
      inverter_connect = #{inverterConnect,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where call_id = #{callId,jdbcType=INTEGER}
  </update>
</mapper>