<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.maintenance.SunAddressMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.maintenance.SunAddress">
    <id column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="contact_id" jdbcType="INTEGER" property="contactId" />
    <result column="contry_code" jdbcType="VARCHAR" property="contryCode" />
    <result column="contry_name" jdbcType="VARCHAR" property="contryName" />
    <result column="state_code" jdbcType="VARCHAR" property="stateCode" />
    <result column="state_name" jdbcType="VARCHAR" property="stateName" />
    <result column="street_code" jdbcType="VARCHAR" property="streetCode" />
    <result column="street_name" jdbcType="VARCHAR" property="streetName" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="abn" jdbcType="VARCHAR" property="abn" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <sql id="Base_Column_List">
    address_id, contact_id, contry_code, contry_name, state_code, state_name, street_code, 
    street_name, city_code, city_name, detail, post_code, abn, insert_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sun_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sun_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.maintenance.SunAddress">
    insert into t_sun_address (address_id, contact_id, contry_code, 
      contry_name, state_code, state_name, 
      street_code, street_name, city_code, 
      city_name, detail, post_code, 
      abn, insert_time)
    values (#{addressId,jdbcType=INTEGER}, #{contactId,jdbcType=INTEGER}, #{contryCode,jdbcType=VARCHAR}, 
      #{contryName,jdbcType=VARCHAR}, #{stateCode,jdbcType=VARCHAR}, #{stateName,jdbcType=VARCHAR}, 
      #{streetCode,jdbcType=VARCHAR}, #{streetName,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{cityName,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR}, 
      #{abn,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.maintenance.SunAddress">
    insert into t_sun_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        address_id,
      </if>
      <if test="contactId != null">
        contact_id,
      </if>
      <if test="contryCode != null">
        contry_code,
      </if>
      <if test="contryName != null">
        contry_name,
      </if>
      <if test="stateCode != null">
        state_code,
      </if>
      <if test="stateName != null">
        state_name,
      </if>
      <if test="streetCode != null">
        street_code,
      </if>
      <if test="streetName != null">
        street_name,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="postCode != null">
        post_code,
      </if>
      <if test="abn != null">
        abn,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="contactId != null">
        #{contactId,jdbcType=INTEGER},
      </if>
      <if test="contryCode != null">
        #{contryCode,jdbcType=VARCHAR},
      </if>
      <if test="contryName != null">
        #{contryName,jdbcType=VARCHAR},
      </if>
      <if test="stateCode != null">
        #{stateCode,jdbcType=VARCHAR},
      </if>
      <if test="stateName != null">
        #{stateName,jdbcType=VARCHAR},
      </if>
      <if test="streetCode != null">
        #{streetCode,jdbcType=VARCHAR},
      </if>
      <if test="streetName != null">
        #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="abn != null">
        #{abn,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.maintenance.SunAddress">
    update t_sun_address
    <set>
      <if test="contactId != null">
        contact_id = #{contactId,jdbcType=INTEGER},
      </if>
      <if test="contryCode != null">
        contry_code = #{contryCode,jdbcType=VARCHAR},
      </if>
      <if test="contryName != null">
        contry_name = #{contryName,jdbcType=VARCHAR},
      </if>
      <if test="stateCode != null">
        state_code = #{stateCode,jdbcType=VARCHAR},
      </if>
      <if test="stateName != null">
        state_name = #{stateName,jdbcType=VARCHAR},
      </if>
      <if test="streetCode != null">
        street_code = #{streetCode,jdbcType=VARCHAR},
      </if>
      <if test="streetName != null">
        street_name = #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="abn != null">
        abn = #{abn,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.maintenance.SunAddress">
    update t_sun_address
    set contact_id = #{contactId,jdbcType=INTEGER},
      contry_code = #{contryCode,jdbcType=VARCHAR},
      contry_name = #{contryName,jdbcType=VARCHAR},
      state_code = #{stateCode,jdbcType=VARCHAR},
      state_name = #{stateName,jdbcType=VARCHAR},
      street_code = #{streetCode,jdbcType=VARCHAR},
      street_name = #{streetName,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      post_code = #{postCode,jdbcType=VARCHAR},
      abn = #{abn,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
</mapper>