<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.maintenance.SunMaintenanceMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.maintenance.SunMaintenance">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="contry" jdbcType="VARCHAR" property="contry" />
    <result column="install_installer" jdbcType="VARCHAR" property="installInstaller" />
    <result column="install_cec" jdbcType="VARCHAR" property="installCec" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="is_check" jdbcType="INTEGER" property="isCheck" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.crazy.portal.entity.maintenance.SunMaintenance">
    <result column="suggestions" jdbcType="LONGVARCHAR" property="suggestions" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, contry, install_installer, install_cec, total_amount, is_check, insert_time
  </sql>
  <sql id="Blob_Column_List">
    suggestions
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_sun_maintenance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sun_maintenance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.maintenance.SunMaintenance">
    insert into t_sun_maintenance (id, type, contry, 
      install_installer, install_cec, total_amount, 
      is_check, insert_time, suggestions
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{contry,jdbcType=VARCHAR}, 
      #{installInstaller,jdbcType=VARCHAR}, #{installCec,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, 
      #{isCheck,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, #{suggestions,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.maintenance.SunMaintenance" keyProperty="id" useGeneratedKeys="true">
    insert into t_sun_maintenance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="contry != null">
        contry,
      </if>
      <if test="installInstaller != null">
        install_installer,
      </if>
      <if test="installCec != null">
        install_cec,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="isCheck != null">
        is_check,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="suggestions != null">
        suggestions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="contry != null">
        #{contry,jdbcType=VARCHAR},
      </if>
      <if test="installInstaller != null">
        #{installInstaller,jdbcType=VARCHAR},
      </if>
      <if test="installCec != null">
        #{installCec,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="isCheck != null">
        #{isCheck,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suggestions != null">
        #{suggestions,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.maintenance.SunMaintenance">
    update t_sun_maintenance
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="contry != null">
        contry = #{contry,jdbcType=VARCHAR},
      </if>
      <if test="installInstaller != null">
        install_installer = #{installInstaller,jdbcType=VARCHAR},
      </if>
      <if test="installCec != null">
        install_cec = #{installCec,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="isCheck != null">
        is_check = #{isCheck,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suggestions != null">
        suggestions = #{suggestions,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crazy.portal.entity.maintenance.SunMaintenance">
    update t_sun_maintenance
    set type = #{type,jdbcType=INTEGER},
      contry = #{contry,jdbcType=VARCHAR},
      install_installer = #{installInstaller,jdbcType=VARCHAR},
      install_cec = #{installCec,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      is_check = #{isCheck,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      suggestions = #{suggestions,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.maintenance.SunMaintenance">
    update t_sun_maintenance
    set type = #{type,jdbcType=INTEGER},
      contry = #{contry,jdbcType=VARCHAR},
      install_installer = #{installInstaller,jdbcType=VARCHAR},
      install_cec = #{installCec,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      is_check = #{isCheck,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>