<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.system.RoleResourceMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.system.RoleResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="resource_id" jdbcType="INTEGER" property="resourceId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, resource_id, create_time, create_id, update_time, update_id
  </sql>

  <!-- 删除角色下所有资源,该权限表资源数据量一般不大,直接删除再加入对系统性能影响可忽略不计-->
  <delete id="deleteByRoleId" parameterType="java.lang.Integer">
    delete from t_role_resource
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>

  <insert id="insertBatchByRoleId" parameterType="java.util.List">
    insert into t_role_resource (role_id,resource_id, create_time, create_id)
    values
    <foreach collection="list" item="item" index= "index" separator =",">
      (
        #{item.roleId},
        #{item.resourceId},
        #{item.createTime},
        #{item.createId}
      )
    </foreach>
  </insert>

  <!-- 查询角色资源 -->
  <select id="selectRoleResourceByRoleIds" resultType="java.lang.Integer">
      select a.resource_id from
      t_role_resource a inner join t_resource b on a.resource_id = b.id
      where a.role_id in
      <foreach item="item" index="index" collection="roleIds" open="("
               separator="," close=")">
        #{item}
      </foreach>
      <if test="isAllRes == false">
        and b.parent_id  <![CDATA[ <> ]]> 0
      </if>
  </select>
</mapper>